/*Estilos Gerais */

:root {
    /*seleciona o elemento raiz do documento (HTML)
usado para definir variáveis CSS globais para o uso
em todo o site*/
    --primary-color: #06aa8e;
    --secondary-color: #05987d;
    --accent-color: #03876d;
    --light-color: #02755c;
    --dark-color: #00634b;
    --success-color: #1000c2;
    --error-color: #bd0000;
    --gray-color: #46464612;
    --transition: all 0.3s ease;
}

* {
    /*Seletor Universal: seleciona todos os elementos
    da página*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Seleciona apenas o elemento body*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--dark-color);
    background-color: #F9F8F6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.titulo-secao {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--secondary-color);
    position: relative;
    padding-bottom: 15px;
}

.titulo-secao::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 2px;    
}

.botao {
    display: inline-block;
    color: #F9F8F6;
    background-color: #00634b;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);
    font-weight: 600;
    text-align: center;
}

.botao:hover {
    background-color: #06aa8e;
    box-shadow: 0 2px 10px rgba(0, 0, 0);
    position: sticky;
    top: o; 
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 700;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 1.5rem;
}


